/*  your css code here. If applicable */
div{
	padding: 50px;
	Background-color: #f5f5f5
}
.first-box, .second-box{
	border: 1px solid gray;
	font-size: 10px;
	padding: 10px;
	background: white;
}
.b{
	font-style: italic;
	text-aling: right;
}

